<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Détail du rendez-vous</strong>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Service</th>
                <th scope="col">Prix</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Service 3</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Service 4</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Total</td>
                    <td>22000 Ariary</td>
                </tr>
              </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>