<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Détail du rendez-vous</strong>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Service</th>
                <th scope="col">Prix</th>
              </tr>
              </thead>
              <tbody>
                @for (service of appointment.services; track $index) {
                  <tr>
                      <th scope="row">{{ $index+1 }}</th>
                      <td>{{ service.name }}</td>
                      <td>{{ service.price }} Ariary</td>
                  </tr>
                } @empty {
                  Pas de rendez-vous
                }
                <tr>
                    <th scope="row"></th>
                    <td>Total</td>
                    <td>{{ sommeService }} Ariary</td>
                </tr>
              </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>