<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des services</strong>
        </c-card-header>
        <c-card-body>
          <button states="normal" color="primary" cButton (click)="openServiceForm()">Ajouter</button>
            <table [hover]="true" [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Durée</th>
                <th scope="col">Commission</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>&#64;mdo</td>
                <td><button states="normal" color="warning" cButton>Modifier</button></td>
                <td><button states="normal" color="danger" cButton>Supprimer</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Otto</td>
                <td>Thornton</td>
                <td>&#64;fat</td>
                <td><button states="normal" color="warning" cButton>Modifier</button></td>
                <td><button states="normal" color="danger" cButton>Supprimer</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Otto</td>
                <td>Larry the Bird</td>
                <td>Larry the Bird</td>
                <td>&#64;twitter</td>
                <td><button states="normal" color="warning" cButton>Modifier</button></td>
                <td><button states="normal" color="danger" cButton>Supprimer</button></td>
              </tr>
              </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  