<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Filtre de recherche</strong>
      </c-card-header>
      <c-card-body>
          <form cForm class="row gx-3 gy-2 align-items-center" (submit)="filterService()">
            <c-col sm="3">
                <input cFormControl [(ngModel)]="serviceInfo.name" placeholder="Nom" name="name"/>
            </c-col>
            <c-col sm="3">
                <input cFormControl [(ngModel)]="serviceInfo.price" placeholder="Prix" type="number" name="price"/>
            </c-col>
            <c-col sm="2">
                <input cFormControl [(ngModel)]="serviceInfo.duration" placeholder="Durée" type="number" name="duration"/>
            </c-col>
            <c-col sm="2">
                <input cFormControl [(ngModel)]="serviceInfo.commission" placeholder="Commission" type="number" name="commission"/>
            </c-col>
            <c-col xs="2">
              <button cButton type="submit">Rechercher</button>
            </c-col>
          </form>
      </c-card-body>
    </c-card>
  </c-col>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des services</strong>
        </c-card-header>
        <c-card-body>
          <button states="normal" color="primary" cButton (click)="openServiceForm('create','')">Ajouter</button>
            <table [hover]="true" [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Durée</th>
                <th scope="col">Commission</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
                @for (service of serviceList; track $index) {
                  <tr>
                    <th scope="row">{{ $index+1 }}</th>
                    <td>{{ service.name }}</td>
                    <td>{{ service.price }} Ariary</td>
                    <td>{{ service.duration }} min</td>
                    <td>{{ service.commission }}%</td>
                    <td><button states="normal" color="warning" (click)="openServiceForm('modif',service._id)" cButton>Modifier</button></td>
                    <td><button states="normal" color="danger" (click)="deleteService(service._id)" cButton>Supprimer</button></td>
                  </tr>
                  }
                @empty {
                  No services
                }
              </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>