<h2 mat-dialog-title>{{ pageInfo.title }}</h2>
<form cForm (submit)="submitForm(serviceId)">
  <mat-dialog-content>
    <div class="mb-3">
      <label cLabel for="exampleFormControlInput1">Nom</label>
      <input cFormControl [(ngModel)]="serviceInfo.name" type="text" name="name"/>
    </div>
    <div class="mb-3">
      <label cLabel for="exampleFormControlInput1">Prix</label>
      <input cFormControl [(ngModel)]="serviceInfo.price" type="text" name="price"/>
    </div>
    <div class="mb-3">
      <label cLabel for="exampleFormControlInput1">Durée</label>
      <input cFormControl [(ngModel)]="serviceInfo.duration" type="text" name="duration"/>
    </div>
    <div class="mb-3">
      <label cLabel for="exampleFormControlInput1">Commission</label>
      <input cFormControl [(ngModel)]="serviceInfo.commission" type="text" name="commission"/>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" states="normal" color="{{ pageInfo.color }}" mat-dialog-close cButton>{{ pageInfo.label }}</button>
  </mat-dialog-actions>
</form>