<h2 mat-dialog-title>Ajouter un nouveau service</h2>
<mat-dialog-content>
    <form cForm>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Nom</label>
        <input cFormControl type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Prix</label>
        <input cFormControl type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Durée</label>
        <input cFormControl type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Commission</label>
        <input cFormControl type="text"/>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button states="normal" color="primary" cButton>Okay</button>
</mat-dialog-actions>