<c-row>
    <c-col xs="6">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Prendre rendez-vous</strong>
        </c-card-header>
        <c-card-body>
            <form cForm class="row g-3" form [formGroup]="appointmentForm" cForm>
                <c-col md="12">
                    <label cLabel for="inputDate">Date</label>
                    <input autoComplete="date" cFormControl formControlName="date" type="date"/>
                </c-col>
                <c-col md="12">
                    <label cLabel for="inputHeure">Heure</label>
                    <input autoComplete="heure" cFormControl formControlName="heure" type="time"/>
                </c-col>
                <c-col md="12">
                    <label cLabel for="inputState">Employe</label>
                    <select cSelect id="inputState" cFormControl formControlName="employe">
                        @for (employe of employeList; track $index){
                            <option [value]="employe._id">{{ employe.firstName }} {{ employe.lastName }}</option>
                        } @empty {
                            No employe
                        }
                    </select>
                </c-col>
                <c-col xs="12">
                    <label cLabel for="inputState">Services</label>
                    <div formArrayName="services">
                        <c-row *ngFor="let service of services.controls; let i=index" [formGroupName]="i">
                            <c-form-check>
                                <input cFormCheckInput id="service-{{ i }}" type="checkbox" formControlName="service_id"/>
                                <label cFormCheckLabel for="service-{{ i }}">{{serviceList[i].name}}</label>
                            </c-form-check>
                        </c-row>
                    </div>
                </c-col>
                <c-col md="12">
                    <label cLabel for="inputState">Rappel</label>
                    <select cSelect id="inputState"  cFormControl formControlName="rappel">
                        <option [value]="2">2 heures</option>
                        <option [value]="3">3 heures</option>
                        <option [value]="5">5 heures</option>
                        <option [value]="8">8 heures</option>
                    </select>
                </c-col>
                <c-col xs="12">
                    <button cButton type="submit"  (click)="createAppointment()">Valider</button>
                </c-col>
            </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  