<c-row>
    <c-col xs="6">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Prendre rendez-vous</strong>
        </c-card-header>
        <c-card-body>
            <form cForm class="row g-3" (submit)="createAppointment()">
                <c-col md="12">
                    <label cLabel for="inputDate">Date</label>
                    <input cFormControl id="inputDate" [(ngModel)]="appointmentInfo.date" type="date" name="date"/>
                </c-col>
                <c-col md="12">
                    <label cLabel for="inputHeure">Heure</label>
                    <input cFormControl id="inputHeure" [(ngModel)]="appointmentInfo.heure" type="time" name="heure"/>
                </c-col>
                <c-col md="12">
                    <label cLabel for="inputState">Employe</label>
                    <select cSelect id="inputState" [(ngModel)]="appointmentInfo.employe" name="employe">
                        @for (employe of employeList; track $index){
                            <option [value]="employe._id">{{ employe.firstName }} {{ employe.lastName }}</option>
                        } @empty {
                            No employe
                        }
                    </select>
                </c-col>
                <c-col xs="12">
                    <label cLabel for="inputState">Services</label>
                    @for (service of serviceList; track $index) {
                        <c-form-check>
                            <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" value="{{ service._id }}" name="services[]"/>
                            <label cFormCheckLabel for="gridCheck">{{ service.name }}</label>
                        </c-form-check>
                    }
                    @empty {
                        No services
                    }
                </c-col>
                <c-col md="12">
                    <label cLabel for="inputState">Rappel</label>
                    <select cSelect id="inputState" [(ngModel)]="appointmentInfo.rappel" name="rappel">
                        <option [value]="2">2 heures</option>
                        <option [value]="3">3 heures</option>
                        <option [value]="5">5 heures</option>
                        <option [value]="8">8 heures</option>
                    </select>
                </c-col>
                <c-col xs="12">
                    <button cButton type="submit">Valider</button>
                </c-col>
            </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  