<style>
  .px-0{
    min-width: 100px;
    background-color: white;
    border: 1px;
    border-style: solid;
  }
</style>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <h1>Login</h1>
              <p class="text-medium-emphasis">Choisi une option de connection</p>             
              <c-row style="margin-bottom: 5%;">
                <c-col xs="4">
                  <button cButton class="px-0" (click)="connectParams('ADMIN')">
                    admin
                  </button>
                </c-col>
                <c-col xs="4">
                  <button cButton class="px-0" (click)="connectParams('CLIENT')">
                    client
                  </button>
                </c-col>
                <c-col xs="4">
                  <button cButton class="px-0" (click)="connectParams('EMPLOYEE')">
                    employee
                  </button>
                </c-col>
              </c-row>
              <form cForm #loginForm="ngForm" (submit)="submitLogin()"> 

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="email" cFormControl [(ngModel)]="loginInfo.email" name="email" placeholder="email" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    [(ngModel)]="loginInfo.password"
                    name="password"
                  />
                </c-input-group>
              <c-row *ngIf="loadingProgress">
                  <mat-spinner></mat-spinner>
              </c-row>
                <c-row>
                  <c-col xs="4">
                    <button type="submit" cButton class="px-4" color="primary">
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>S'inscrire</h2>
                <!-- <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p> -->
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  s'inscrire maintenant!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
