<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des rendez-vous</strong>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <th scope="col">heure</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
                @for (appointment of appoitmentList; track $index) {
                  <tr>
                    <th scope="row">{{ $index+1 }}</th>
                    <td>Client 1</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.heure }}</td>
                    <td><button states="normal" color="info" cButton>Détail</button></td>
                  </tr>
                } @empty {
                  Pas de rendez-vous
                }
              </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>