<style>
    .page-row{
        margin: 2%;
    }
</style>
<c-container>
    <c-row class="page-row">
    <c-card>
        <c-card-body>
            <h5 cCardTitle>Mon profil</h5>
            <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
            Gérez votre profil
            </h6>
            <form cForm>
                <c-row>
                    <c-col>
                        <c-input-group class="mb-3">
                            <span cInputGroupText>
                                <svg cIcon name="cilUser"></svg>
                            </span>
                            <input autoComplete="last-name" cFormControl [(ngModel)]="user.lastName" name="lastName" placeholder="Nom" />
                        </c-input-group>
                        
                        <c-input-group class="mb-3">
                        <span cInputGroupText>
                            <svg cIcon name="cilUser"></svg>
                        </span>
                        <input autoComplete="first-name" cFormControl [(ngModel)]="user.firstName" name="firstName" placeholder="Prénom" />
                        </c-input-group>
                        <c-input-group class="mb-3">
                        <c-form-check style="margin: 2%;">
                            <input cFormCheckInput type="radio" value="MALE" [(ngModel)]="user.gender.code" name="gender" checked/>
                            <label cFormCheckLabel>homme</label>
                        </c-form-check>
                        <c-form-check style="margin: 2%;">
                            <input cFormCheckInput type="radio" value="FEMALE" [(ngModel)]="user.gender.code" name="gender"/>
                            <label cFormCheckLabel>femme</label>
                        </c-form-check>
                        </c-input-group>
                    </c-col>
                    <c-col>
                                
                        <c-input-group class="mb-3">
                            <span cInputGroupText>
                                <svg cIcon name="cilCalendar"></svg>
                            </span>
                            <input autoComplete="date-of-birth" cFormControl type="date" [ngModel]="formatDateForInput(user.birthDate)" (ngModelChange)="user.birthDate = $event" name="birthDate" placeholder="Date de naissance" />
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <span cInputGroupText>
                                <svg cIcon name="cilPhone"></svg>
                            </span>
                            <input autoComplete="phone" cFormControl [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Téléphone" />
                            </c-input-group>
            
                            <c-input-group class="mb-3">
                            <span cInputGroupText>&#64;</span>
                            <input autoComplete="email" cFormControl [(ngModel)]="user.email" name="email" placeholder="Email" />
                            </c-input-group>
                    </c-col>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton type="submit" color="dark" class="me-md-2">Mettre à jour</button>
                    </div>
                </c-row>
            </form>
        </c-card-body>
      </c-card>
    </c-row>

    <c-row *ngIf="user?.privilege?.code === 'EMPLOYEE'" class="page-row">
       <!-- app.component.html -->

<form #scheduleForm="ngForm" (ngSubmit)="updateSchedule()">
    <div *ngFor="let entry of schedule; let i = index" class="schedule-entry">
      <label for="employee_id">Employee ID:</label>
      <input type="text" id="employee_id" name="employee_id" [(ngModel)]="schedule[i].employee_id" required>
  
      <label for="start_time">Start Time:</label>
      <input type="text" id="start_time" name="start_time" [(ngModel)]="schedule[i].work_schedule.start_time" required>
  
      <label for="end_time">End Time:</label>
      <input type="text" id="end_time" name="end_time" [(ngModel)]="schedule[i].work_schedule.end_time" required>
  
      <div *ngFor="let breakTime of schedule[i].work_schedule.breaks; let j = index" class="break-entry">
        <label for="break_start_time">Break Start Time:</label>
        <input type="text" id="break_start_time" name="break_start_time" [(ngModel)]="schedule[i].work_schedule.breaks[j].start_time" required>
  
        <label for="break_end_time">Break End Time:</label>
        <input type="text" id="break_end_time" name="break_end_time" [(ngModel)]="schedule[i].work_schedule.breaks[j].end_time" required>
      </div>
    </div>
  
    <button type="submit">Submit</button>
  </form>  
    </c-row>
  </c-container>