<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Filtre de recherche</strong>
      </c-card-header>
      <c-card-body>
          <form cForm class="row gx-3 gy-2 align-items-center" (submit)="searchEmploye()">
            <c-col sm="4">
                <input cFormControl placeholder="Nom" type="text" [(ngModel)]="userInfo.lastName" name="lastName"/>
            </c-col>
            <c-col sm="4">
                <input cFormControl placeholder="Prenom" type="text" [(ngModel)]="userInfo.firstName" name="firstName" />
            </c-col>
            <c-col xs="4">
              <button cButton type="submit">Rechercher</button>
            </c-col>
          </form>
      </c-card-body>
    </c-card>
  </c-col>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des employées</strong>
        </c-card-header>
        <c-card-body>
          <c-row *ngIf="loadingProgress; else autreContenu">
            <mat-spinner></mat-spinner>
          </c-row>
          <ng-template #autreContenu>
          <button states="normal" color="primary" cButton [routerLink]="['/users/user-details', '']">Ajouter</button>
            <table [hover]="true" [striped]="true" cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">contact</th>
              </tr>
              </thead>
              <tbody *ngFor="let employee of employees">
                 <tr [routerLink]="['/users/user-details', employee._id]">
                    <td scope="col">{{employee._id}}</td>
                    <td scope="col">{{employee.lastName}}</td>
                    <td scope="col">{{employee.firstName}}</td>
                    <td scope="col">{{employee.phoneNumber}}</td>
                  </tr>                 
              </tbody>
            </table>
          </ng-template>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>