<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Liste des rendez-vous</strong>
      </c-card-header>
      <c-card-body>
        <div *ngIf="loadingProgress; else otherContent">
          <mat-spinner></mat-spinner>
        </div>
        <ng-template #otherContent>
        <table [hover]="true" [striped]="true" cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Client</th>
              <th scope="col">Commission</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @for (appointment of appoitmentList; track $index) {
            <tr>
              <th scope="row">{{ $index+1 }}</th>
              <td>{{ appointment.customer.firstName }} {{ appointment.customer.lastName }}</td>
              <td>{{ calculateCommission(appointment) }} Ariary</td>
              <td><button states="normal" color="info" cButton (click)="detailTask(appointment)">Détail</button></td>
            </tr>
            }
            @empty {
              Pas de rendez-vous
            }
            <tr>
              <th scope="row">TOTAL</th>
              <td></td>
              <td>{{ sommeCommission }} Ariary</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>